{% extends 'base.html' %}


{% block content %}
<h1>Login</h1>
<br><br>
<div class="form-group"> 
<form method="POST">
{% csrf_token %}
<div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="User Name">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" placeholder="Enter Password">
  </div>

<button class="btn btn-secondary"> Login</button> 

</form>
</div>
<br>
Not Registered? <a href="{% url 'register' %}">SignUp Here</a> 

{% endblock %} 