<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base demo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <!-- {% if user.is_authenticated %}
    {% else %}
    {% endif %} -->

    <ul class="nav  nav-top justify-content-center" style="background-color: green; color:white">

        {% if user.is_authenticated %}

        <li class="nav-item ">
            <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Profile</a>
            <ul class="dropdown-menu" style="background-color: gray;">
              <li><a class="dropdown-item" href="#" style=""></a></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'user_profile' user.profile.id %}">Show Profile Page</a></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
            </ul>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
        </li>
       


        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}

    </ul>
    <nav class="navbar navbar-expand-lg " style="background-color: rgb(244, 243, 248);">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4feWDCLLUy2AP33gMZdb7Gko9ZTfT93qG3w&usqp=CAU"
                    alt="" width="40" height="34"> Awesome Blog Post</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{%url 'home'%}"
                            class="btn btn-secondary">Home</a>
                    </li>
                    <!-- Category View -->
                    {% if user.is_authenticated %}
                    {% if cat_menu %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>

                            <li>
                                {% for item in cat_menu %}
                        
                                <a class="dropdown-item" href="{% url 'category' item %}">{{ item }}</a>
                                {% endfor %}
                                
                        
                            </li>
                        </ul>

                    </li>
                    {% endif %}
                    {% endif %}




                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Academics
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Students
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Students
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Latest News
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <ul>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                            <ul>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                                <li><a class="dropdown-item" href="#">Mega Menu Link</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="moto mb-2 p-1" style="background-color: yellow;">
        <div class="container" style="color: red;"> Foster for Excellence and Integrity</div>
    </div>
    <br>
    <div class="container ">
        {% block content %}

        {% endblock %}
        <br><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>