{% extends 'base.html' %}


{% block content %}
{% if category_posts %}
<h1>{{ cats }}  Category  </h1>
{% for post in category_posts %}

<ul>
  <li>
        <a href="{% url 'article_details' post.pk %}">{{ post.title }}</a>  (
        <a href="{% url 'category' post.category %}">
            {{ post.category }}</a>)
         --
        {{ post.author.first_name }}
        {{ post.author.first_name }} --
        {{post.created_at}}
        {% if user.is_authenticated %}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
        <br>
        {{ post.body|safe|slice:":120"}}
    </li>
</ul>
{% endfor %}
{% else %}
<h2>Sorry this page doesnt exist</h2>
{% endif %}

{% endblock %}