{% extends 'base.html' %}


{% block content %}
{% load static %}

<h1>Posts</h1>

<ul>
    {% for post in object_list %}
    <li>
        <a href="{% url 'article_details' post.pk %}">{{ post.title}}</a>(
        <a href="{% url 'category' post.category %}">
            {{ post.category }}</a>)
        --
        {{ post.author.first_name }}
        {{ post.author.first_name }} --
        {{post.created_at}}
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
        {% endif %}
        {% endif %}
        <br>
        {{ post.snippet}}
    </li>

    {% endfor %}
</ul>

<div class="row row-cols-1 row-cols-md-3 g-4  ">

    {% for post in object_list %}
    <!-- very import piece of code -->
    {% if forloop.counter <= 5 %} <div class="col">
        <div class="card h-100">
            {% if post.header_image %}
            <a href="{% url 'article_details' post.pk %}">
                <img src="{{post.header_image.url}}" class="img-fluid card-img-top rounded-start" alt=".d.."></a>
            <h3><span
                    class="badge position-absolute top-20 start-0 translate-middle-y badge rounded-pill bg-warning text-dark">
                    {{ post.created_at|date:"jS" }} <br>{{ post.created_at|date:"F" }}</span>
            </h3>
            {% else %}
            <img src="{% static 'images/profile.jpeg' %}" class="img-fluid  card-img-top rounded-pill" alt=".d..">
            {% endif %}


            <div class="card-body">

                <h3 class="card-title text-success">{{ post.title}}
                </h3>
                <p class="card-text">
                    {{ post.snippet}}
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                <div class="row justify-content-center">
                    <div class="col-4">
                        <a href="{% url 'update_post' post.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    </div>
                    <div class="col-4">
                        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>

                </p>
                {% endif %}
                {% endif %}
                <!-- <div class="d-grid gap-2">
                    <a href="#" class="btn btn-success ">Read More</a>
                </div> -->
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'article_details' post.pk %}" class="btn btn-success rounded-pill">Read
                        More</a>
                </div>
            </div>

        </div>
</div>

{% endif %}
{% endfor %}




</div>

{% endblock %}

<span
    class="badge bg-secondary position-absolute top-20 start-0 translate-middle-y badge rounded-pill bg-danger">New</span>